---
const {
  title = "Contact us",
  description = "Fill out the form and we'll get back to you as soon as possible",
} = Astro.props;
---
<section class="container mx-auto pb-12">
  <div class="contact-container">
    <h2 class="mt-2 mb-2 text-3xl font-bold">{title}</h2>
    <p class="text-base-content/70">{description}</p>
  <!-- modify this form HTML and place wherever you want your form -->
  <div data-fs-success>Thanks for your submission!</div>
  <div data-fs-error>Oops! There was a problem submitting your form.</div>
  <form id="my-form" class="contact-form">
    <input type="hidden" name="form-name" value="contact" />
        
        <div class="flex flex-col gap-2 form-group">
          <label for="name"></label>
          <input type="text" id="name" name="name" required class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg px-4 py-2 my-2" placeholder="Your name"/>
        </div>

        <div class="flex flex-col gap-2 form-group">
          <label for="email"></label>
          <input type="email" id="email" name="email" required class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg px-4 py-2 my-2" placeholder="Email"/>
        </div>

        <div class="flex flex-col gap-2 form-group">
          <label for="message"></label>
          <textarea id="message" name="message" required class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg px-4 py-2 my-2" placeholder="Your message"></textarea>
        </div>

        <button
        type="submit" id="submit-btn"
        class="cursor-pointer inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
        Submit
      </button>

  </form>
  </div>
</section>

<!-- Place these scripts at the end of the body tag -->
<script is:inline>
  window.formspree =
    window.formspree ||
    function () {
      (formspree.q = formspree.q || []).push(arguments);
    };
  formspree("initForm", {
    formElement: "#my-form",
    formId: "xnndyvdq",
  });
</script>
<script is:inline src="https://unpkg.com/@formspree/ajax@1" defer></script>