---
import BaseHead from '@components/BaseHead.astro';
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ScrollToTop from "@components/common/ScrollToTop.astro";

const { title, description, pubDate, updatedDate, heroImage, maxWidth = "140rem", pagefind = true} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
		<BaseHead title={title} description={description} />
	</head>
  <body
    class="text-base-content mx-auto grid h-full min-h-dvh grid-rows-[auto_1fr_auto]"
  >
    <header class="animate-fade-down sticky top-0 z-50">
      <Header />
    </header>
    
    <main {...pagefind ? { "data-pagefind-body": "" } : {}}>
      <div class={`mx-auto h-full max-w-[${maxWidth}] px-2 `}>
        <slot />
      </div>
    </main>
    
    <footer class="footer bg-base-200">
      <div class="mx-auto w-full max-w-[140rem] px-2 py-6">
        <Footer />
      </div>
    </footer>
    <ScrollToTop />
  </body>
</html>

<script>
  import { animateOnScroll } from "@scripts/script";
  animateOnScroll();
</script>
